<header>
    <a routerLink="/pokemon">
        Home
    </a>
    <div>
        Pokemons
    </div>
</header>

<div class="list-pokemons">
    <div *ngFor="let pokemon of pokemons">
        <div class="card">
            <a >
                <img [src]="pokemon.urlImg" class="card-img" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{pokemon.name}} {{pokemon.color}}</h4>
                    <p class="card-text">$ {{pokemon.type1}}.</p>
                </div>
            </a>
        </div>
    </div>
</div>