header{
  color: white;
  background-color: rgb(54,150,162);
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  font-size: 3rem;
}
.list-gyms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  height: 70vh;
  width: 37vh;
  background-color: rgb(54,150,162);
  margin: 2rem ;
}
.card-img{
  width: 100%;
  height: 30vh;
}
.card-title{
  height: 20vh;
  text-align: center;
  border: 2px solid ;
}
.card-content{
  margin: 1rem 2rem;
  p{
    margin: 1rem;
  }
}