<header>
    <a routerLink="/pokemon">
        Home
    </a>
    <a class="active">
        Gyms
    </a>
    <a routerLink="/pokemon/leaders">
        Leaders
    </a>
    <a routerLink="/pokemon/pokemons">
        Pokemons
    </a>
</header>

<div class="list-gyms">
    <form class="search" role="search">
        <input class="search-input" type="text" placeholder="Search" aria-label="Search" id="text-search" #search >
        <button class="btn btn-outline-success" type="button" (click)="getGymsBy(search.value)">Search</button>
    </form>
    <div *ngFor="let gym of gyms">
        <div class="card">
            <a >
                <img [src]="gym.urlImgGym" class="card-img" alt="...">
                <div class="card-body">
                    <div class="card-title">
                        <h1>{{gym.name}}</h1>
                        <h3>" {{gym.lema}} "</h3>
                    </div>
                    <div class="card-content">
                        <h4>LOCATION : {{gym.location}}.</h4>
                        <h4 >REGION : {{gym.region}}.</h4>
                        <h4 >TYPE : {{gym.type}}.</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
