.body{
  display: flex;
  flex-direction: row;
  background-color: rgb(17,53,55);
}
.dashboard{
  display: flex;
  flex-direction: column;
  background-color: rgb(54,150,162);
  height: 100vh;
  width: 40vh;
  align-items: center;
  a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    padding: 2rem 0;
    width: 100%;
    text-align: center;

  }
  .active{
    border: solid white 2px;
    background-color: rgb(17,53,55);
  }
  .option-active{
    border-left: white solid 5rem;
    background-color: rgb(17,53,55);
  }
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .form{
    form{
      border-radius: 1rem;
      background-color: rgba(255,255,255,0.5);
      width: 50vh;
      height: 90vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border: 1px solid white;
    }
    div{
      margin: 1rem;
      width: 25vh;
      input{
        border-radius: 2rem;
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
  .list{
    margin: 2rem;
    display: flex;
    height: 90vh;
    width: 80vh;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .card{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem;
    }
  }
}
.list-card:nth-child(even) {
  background-color: rgba(54,150,162,0.5);
}
.card-footer{
  button{
    padding: 1rem;
    width: 25vh;
    margin: 1rem;
    background-color: rgba(255,255,255,0.7);
    border: white solid 1px;
  }
}

.tipo-boton{
  text-decoration: none;
  margin: 1rem;
  width: 25vh;
  border-radius: 2rem;  
  padding: 0.5rem;    
}
.white_content { 
  display: none; 
  position: absolute; 
  top: 25%; 
  left: 25%; 
  width: 55%; 
  height: 55%; 
  padding: 20px; 
  border: 10px solid green; 
  background-color: white; 
  z-index:1002; 
  overflow: auto; 
}