.content{
  height: 100vh;
  background-color: black;
  background-image: url("https://www.xtrafondos.com/wallpapers/pokemon-unite-8254.jpg");
  background-size: cover;
  background-position: center;
  background-repeat : no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header{
    position: absolute;
    right: 5%;
    top: 5%;
    button{
      padding: 0 2rem;
      border: white solid;
      background-color: rgba(0,0,0,0);
      color: white;
      font-size: 3rem;
      font-family: 'Playfair Display', serif;
    }
    button:hover{
      border: none;
      background-color: rgba(0,0,0,0.5);
    }
  }
}
.cards-list{
  width: 100%;
  margin: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  width: 40vh;
  height: 25vh;
  margin: 1%;
  background-color: rgba(54,150,162,0.7);
  border-radius: 5vh;
}
img{
  width: 40vh;
  height: 25vh;
  opacity: 0.9;
  border-radius: 5vh;

}
img:hover{
  opacity: 0.5;
  border: white solid 1px;
}